
<h1>Stock Index</h1>

<p>
    На бирже зарегистрированно <b id="itemCount"></b> позиций
</p>

<div id="stockContainer"></div>
<div id="itemContainer"></div>

<script src="~/js/stockindex.js"></script>